# Created by https://www.gitignore.io/api/laravel

### Laravel ###
vendor/
node_modules/
composer.lock

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
.env
.env.php
.env.*.php
.env.example

storage/
bootstrap/cache/

Homestead.yaml
Homestead.json

public/.DS_Store
public/images/.DS_Store
